.form {
  margin-top: -1.6875rem;
  display: flex;
  gap: 0.5rem;
}

.form input {
  padding: 16px;
  width: 39.875rem;
  height: 3.375rem;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
}

.form button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 0.5rem;

  /* width: 5.625rem; */
  height: 3.25rem;
  background: var(--blue-dark);
  border: 0;
  border-radius: 8px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition: 0.3s background-color;
}

.form button:hover {
  background-color: var(--blue);
  cursor: pointer;
}
