.openModal {
  cursor: pointer;
  background-color: var(--gray-500);
  border: 0;
  padding: 0.25rem;
  border-radius: 8px;
  font-size: 0.75rem;
  margin-top: -1rem;
  display: flex;
  margin: 0 auto;
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
}

.modal .modalContainer {
  max-width: 600px;
  min-height: 235px;
  margin: auto;
  padding: 2rem;
  background-color: var(--gray-500);
}

.contentModal {
  font-size: 0.75rem;
  line-height: 1rem;
}

.contentModal .modalDate {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.contentModal .modalDate p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.625rem;
}

.contentModal .modalDate p strong {
  display: block;
  font-size: 0.75rem;
}

.contentModal .descriptionModal {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  line-height: 1.125rem;
}
