.openModal {
  cursor: pointer;
  background-color: var(--gray-500);
  border: 0;
  padding: 0.25rem;
  border-radius: 8px;
  font-size: 0.75rem;
  margin-top: -1rem;
  display: flex;
  margin: 0 auto;
}
