.todos {
  margin-top: 4rem;
}

.summaryTodos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.summaryTodos p:first-child {
  color: var(--blue);
}

.summaryTodos p {
  color: var(--purple);
  font-weight: bold;
}

.summaryTodos p strong {
  width: 1.5625rem;
  height: 1.1875rem;
  color: var(--gray-200);
  padding: 0.125rem 0.5rem;
  background-color: var(--gray-400);
  border-radius: 50%;
  margin-left: 8px;
}

.nothingToDo {
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.nothingToDo .messages {
  font-style: normal;
  font-size: 1rem;
  line-height: 1.375rem;
  color: var(--gray-300);
}

.todosContent {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
